.dark {
   background-color: black;
}

.button-dark {
   background-color: black;
}

/* Button */
.grey {
   background-color: #9f9f9f;
   color: #0f0f0f;
}

.grey:hover {
   background-color: rgba(255, 255,255,0.85);
}

.darkgrey {
   background-color: #2e2e2e;
   color: #fff;
}

.darkgrey:hover {
   background-color: rgba(255, 255,255,0.35);
}

.orange {
   background-color: #f49805;
   color: #fff;
}
.orange:hover {
   background-color: #fac46d;
}